header{
    font-size: 1em;
}


/* navigation bar */

header nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    font-size: 1em;

}

header nav .nav-right{
    display: flex;
    align-items: center;
}
header nav .nav-right a{
    color: #444;
    padding: 5px 10px;
    margin: 0px 5px;
    font-size: 1.1em;
}

header nav .nav-left .condition{
    border: 1px solid #666;
    padding: 5px 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(225, 225 , 225, 1);
}

header nav .nav-left .condition i{
    margin: 7px;
    color: #444;
    font-size: 1.1em;
}

header nav .nav-left .condition span{
    color: #444;
    margin: 0px 10px;
    font-size: 0.9em;
}

/* body */

.products-container{
    background: radial-gradient( circle farthest-corner at 50% 50%,  rgb(151, 115, 173) 0%, rgb(97, 91, 225) 81.3% ); 
    min-height: 93.5vh;
    height: auto;
    padding: 30px;
    display: flex;
    justify-content: center;
}

.products-box{
    font-size: 0.8em;
    box-shadow: 0px 2px 8px 0px rgba(225, 225, 225, 0.4);
    border-radius: 15px;
    background-color: rgba(225, 225, 225, 0.1);
    padding: 25px 35px;
    color: white;
    margin: 40px 30px;
    width: 80%;
    height: fit-content;
}

.products-box .products-body{
    display: flex;
    justify-content: center;
}

.products-box .products-body table{
    width: 100%;
    text-align: center;
    vertical-align: middle;
    padding-top: 0px;
}

.products-box .products-body table thead{
    height: 70px; 
}

.products-box .products-body table thead .head-products span{
    font-size: 16px;
    font-weight: bold ;
}

.products-box .products-body tbody{
    margin-top: 10px;
}

.products-box .products-body tbody .product-in-products{
    height: 165px;
}

.products-box .products-body tbody .product-in-products:hover{
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
    border-radius: 60px;
}

.products-box .products-body tbody .product-in-products span{
    font-weight: bold;
    font-size: 13.5px;
}

.products-box .products-body tbody .product-in-products img{
    width: 150px;
    border-radius: 75px;
}
  
.products-box .submit-btn-container{
    text-align: center;
}

.products-box .submit-btn-container button{
    border: none;
    border-radius: 35px;
    background-color: rgb(85, 26, 158);
    color: rgb(240, 240, 240);
    padding: 10px 10px;
    font-size: 1.1em;
    cursor: pointer;
}

.products-box .submit-btn-container button:hover{
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.4);
}

