header{
    font-size: 1em;
}


/* navigation bar */

header nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    font-size: 1em;

}

header nav .nav-right{
    display: flex;
    align-items: center;
}
header nav .nav-right a{
    color: #444;
    padding: 5px 10px;
    margin: 0px 5px;
    font-size: 1.1em;
}


header nav .nav-left .login{
    border: 1px solid #666;
    padding: 5px 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav .nav-left .login i{
    margin: 7px;
    color: #444;
    font-size: 1.1em;
}

header nav .nav-left .login a{
    color: #444;
    margin: 0px 10px;
    font-size: 0.9em;
}


/* slider */

.slider{
    position: relative;
    font-size: 1em;

}

.slider .slides .item{
    display: none;
    position: relative;
}

.slider .slides .item img{
    width: 100%;
    height: 540px;


}

.slider .slides .item span{
    position: absolute;
    right: 10%;
    top: 40%;
    font-size: 1.5em;
    color: #222;

}

.slider .slides .active{
    display: block;
    animation-name: fadeIn;
    animation-duration: 3s;

}


.slider .buttons{
    position: absolute;
    bottom: 30px;
    left: 40px;
    z-index: 1;
     
}

.slider .buttons i{
     color: black;
     margin-right: 5px;
     cursor: pointer;
}

.slider .buttons i:hover{
    color: rgba(91, 86, 86, 0.4);
}

/* product section  */

.product{
    padding: 20px 10px;
    font-size: 1em;
}

.shoping-card{
    text-align: center;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, .2);
    margin: 10px 15px;
    border-radius: 5px;
    padding: 10px;
    height: max-content;

}

.shoping-card .img-sec{
    position: relative;
}

.shoping-card .img-sec img{
    width: 60%;
}

.shoping-card .title{
    font-size: 0.98em;
    color: #333;
    margin: 15px;
}

.shoping-card .buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
}


.shoping-card .buttons .right .price{
    color: #666;
    font-weight: bold;
}

.shoping-card .buttons .left{
    display: flex;
}

.shoping-card .buttons .left .extend-btn{
    display: flex;
    margin-left: 5px;
    align-items: center;
    justify-content: space-between;
    background-color: #2ecc71;
    color: white;
    width: 40px;
    padding : 8px 12px;
    border-radius: 25px;
    cursor: pointer;
    transition: .75s;

}

.shoping-card .buttons .left .extend-btn:hover{
    width:  85px;
}

.shoping-card .buttons .left .extend-btn:hover .b-text{
    display: block;
}

.shoping-card .buttons .left .extend-btn .b-text{
    display: none;
    color: white;
}

.shoping-card .buttons .left .extend-btn  .b-icon{
    color: white;
    padding-top: 7px;
}


.owl-stage-outer{
    direction: ltr;
}

.draggable-list img{
    width: 70% !important;
    margin: auto;

}

.draggable-list .title{
    padding: 0px 22px 20px 20px;
}

.draggable-list .title span{
    font-size: 1.2em;
    color: #444;
    border-bottom: 2px solid #e74c3c;
    border-radius: 8px;
}