<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>admin</title>
        <script src="https://kit.fontawesome.com/06f4ff7068.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/flexboxgrid.css">
        <link rel="stylesheet" href="css/admin-style.css">
    </head>
    <body>
        <header>
            <nav>
                <div class="nav-right">
                    <a href="index"><i class="fa-solid fa-house"></i></a>
                    <a href="add-product"><i class="fa-solid fa-plus"></i></a>
                </div>
                    </div>
                </div>
                <div class="nav-left">
                    <div class="condition">
                        <i class="fa-solid fa-user"></i>
                        <span href="">پنل ادمین</span>
                    </div>
                </div>
            </nav>
        </header> 
        <main>
            <div class="products-container">
                <div class="products-box">
                    <div class="products-body">
                        <table class="products">
                            <thead>
                                <tr class="head-products">
                                    <th class="picture">
                                        <span>عکس محصول</span>                                
                                    </th>
                                    <th class="name-product">
                                        <span>اسم محصول</span>
                                    </th>
                                    <th class="remove">
                                        <span>حذف</span> 
                                    </th>
                                </tr>
                            </thead>
                            {% for product in data.products %}
                            <tbody>
                                <tr class="product-in-products">
                                    <td class="picture">
                                        <img class="pic-of-product" src="{{ product.gdrive_link }}" alt="">
                                    </td>
                                    <td class="name-product">
                                        <span>{{ product.product_name }}</span>
                                    <td>
                                        <div class="submit-btn-container">
                                            <button id="remove-product" data-product-id="{{ product.product_name }}">حذف محصول</button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            {% endfor %}
                        </table>
                    </div>
                    </div>    
                </div>
            </div>
        </main>
        {% block javascript %}
        <script>

           var button = document.getElementById("remove-product");
            button.addEventListener("click", function() {
            var productName = button.getAttribute("data-product-id");
            fetch("/remove-product", {
                method: "POST",
                body: JSON.stringify({ productName: productName })
            }).then((_res) => {
                window.location.reload();
            });
            });

        </script>
        {% endblock %}
    </body>
</html>